<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="${resourcePath}/style.css">

<script type="text/javascript" src="${resourcePath}/CourseShortcuts.js"></script>

<div id="shortcut-container" class="sc-container">

	<div id="sc1" class="sc-element">
		<a id="scSendEmail" title="Send Email" class="fa-stack">
			<i class="fa fa-2x">&#xf0e0;</i>
		</a>
	</div>

	<div id="sc2" class="sc-element">
		<a id="scCourseEvaluation" title="Enter Course Evaluation">
			<i class="fa fa-2x">&#xf200;</i>
		</a>
	</div>

	<div id="sc3" class="sc-element sc-border-right">
		<a id="scGradecenter" title="Enter Gradecenter">
			<i class="fa fa-2x">&#xf46c;</i>
		</a>
	</div>

</div>