.sc-container, .sc-element {
	display: inline-block;
	vertical-align: middle;    
}

.sc-container {
    padding: 0 0 10px 30px;
    display: none;
}

.sc-element {
	margin: auto;
}

.sc-element a {
    display: block;
    overflow: hidden;
    margin-right: 0.75em; 
}

.sc-element a i {
    color: gray;
}